# Ignore custom config
custom-config.yaml

# Ignore pytest cache
.pytest_cache/

# Ignore packaged charts
*.tgz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
